extends ../layout

block main
  // .post-wrapper.no-reply
  .post-wrapper
    .post
      h2= post.title
      p= post.content
    - for reply in replies
      .post
        p= reply.content

    form#reply-form(action='/post/reply/#{post.id}', method='post')
      .control-group
        label.control-label(for='Reply_content') 回复
        .controls
          textarea(id='Reply_content', name='Reply[content]')

      .form-actions
        button.btn.btn-primary(type='submit') 提交
