doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    - if (DEBUG)
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/nanoscroller.css')
      link(rel='stylesheet/less', href='/css/all-src.less')
      script(src='/js/less.min.js')
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src="/js/jquery.nanoscroller.min.js")
      script(type='text/coffeescript', src='/js/all-src.coffee')
      script(src='/js/coffee-script.min.js')
    - else
      link(rel='stylesheet', href='/css/all.css')
      script(src='/js/all.js')
  body.post-list
    .page-wrapper
      block content
        .sidebar
          .top-nav
            block top-nav
              h1 leenlee
              ul.nav.nav-pills
                li: a(href='/user/signup', class='btn-signup') 注册
                li: a(href='/user/signin', class='btn-signin') 登录
                li: a(href='/user/signout') 登出
          .post-list
            block post-list
              .back-bar
                a(href='#') 後退
              .nano
                .content
                  - for (var i =0; i< 100; i++)
                    .list-item
                      h3 這是一個靠譜的交流社區這是一個靠譜的交流社區這是一個靠譜的交流社區
                      p 這是一個靠譜的交流社區這是一個靠譜的交流社區這是一個靠譜的交流社區
        .main
          block main

    #dialog.modal.hide
