.modal-header
  button.close(type='button', data-dismiss='modal') x
  h3 登录
.modal-body
  form.form-horizontal
    .control-group
      label.control-label(for='username') 用户名
      .controls
        input.input-xlarge(type='text', id='username', name='User[username]')
    .control-group
      label.control-label(for='password') 密码
      .controls
        input.input-xlarge(type='password', id='password', name='User[password]')
.modal-footer
  button.btn.btn-primary(type='submit') 登录
  a.btn(href='/user/signin/github', target='_top')
    i.icon-github
    | Github
