form#signup-form.form-horizontal(action='/user/signup', method='post')
  .modal-header
    button.close(type='button', data-dismiss='modal') x
    h3 注册
  .modal-body
    .control-group
      label.control-label(for='username') 用户名
      .controls
        input.required.input-xlarge(type='text', id='username', name='User[username]', required, minlength=2, maxlength=32)
    .control-group
      label.control-label(for='password') 密码
      .controls
        input.required.input-xlarge(type='password', id='password', name='User[password]', required, minlength=2, maxlength=16)
    .control-group
      label.control-label(for='email') 邮箱
      .controls
        input.required.email.input-xlarge(type='text', id='email', name='User[email]', required)
  .modal-footer
    button.btn.btn-primary(type='submit') 注册
